In [18]:
import pandas as pd

df = pd.read_csv(r"C:\Users\RAZER\Downloads\score_updated.csv")

In [19]:
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
..    ...     ...
91    5.8      60
92    4.4      44
93    6.1      63
94    3.7      37
95    8.0      84

[96 rows x 2 columns]

In [20]:
df.shape

(96, 2)

In [25]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   96 non-null     float64
 1   Scores  96 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB